
.rec{
    width: 377px;
}
.rec-image {
    object-fit: cover;
    width: 377px;
    height: 462px;
}
.rec-image-container{
    position:relative;
}
.rec-image-wrapper{
    width: 377px;
    height: 462px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 2px 4px 4px #00000060;
    display:inline-block;
}

.rec-info-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.rec-info {
    font-size: 30px;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 10px #00000088;
}
.rec-actions{
    margin-top:10px;
    text-align:right;
}
.rec-action{
    margin-left:10px;
    height:60px;
    width:60px;
    box-shadow: 0 0 2px 2px #00000022;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    overflow: hidden;
    cursor:pointer;
}
.rec-action i{
    line-height:60px;
    font-size:32px;
}
